<div class="media-inner component-inner">
    {{#if title}}
    <div class="media-title component-title">
        <h4 class="media-title-inner component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="media-body component-body">
        <p class="media-body-inner component-body-inner">
            {{{body}}}
        </p>
    </div>
    {{/if}}
    <div class="media-widget widget">
		<div class="player">
			<video>
				<source src="{{media.mp4}}"  type="video/mp4" />
				<source src="{{media.ogv}}"  type="video/ogg" />
				<source src="{{media.mp3}}"  type="audio/mpeg" />
				<source src="{{media.ogg}}"  type="audio/ogg" />
			</video>
		</div>
        <a href="#" class="media-show-transcript">show transcript</a>
    </div>
</div>