<div class="media-inner component-inner">
    {{#if title}}
    <div class="media-title component-title">
        <h4 class="media-title-inner component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="media-body component-body">
        <p class="media-body-inner component-body-inner">
            {{{body}}}
        </p>
    </div>
    {{/if}}
    <div class="media-widget widget">
        <video controls poster="{{poster}}">
            <source src="{{media.mp4}}"  type="video/mp4" />
            <source src="{{media.ogv}}"  type="video/ogg" />
            <source src="{{media.mp3}}"  type="audio/mpeg" />
            <source src="{{media.ogg}}"  type="audio/ogg" />
			
			<object id="flowplayer" data="assets/flowplayer-3.2.16.swf" width="100%" height="100%" type="application/x-shockwave-flash">
				<param name="movie" value="assets/flowplayer-3.2.16.swf" />
				<param name="flashVars" value="config={'clip':'{{#if media.mp4}}{{media.mp4}}{{else}}{{media.mp3}}{{/if}}'}" />
				<param name="allowFullScreen" value="true" />
				<param name="allowScriptAccess" value="always"/>
                <param name="wmode" value="opaque" />
            </object>
        </video>
		
        <a href="#" class="media-show-transcript">show transcript</a>
    
    </div>
</div>