{{import_globals}}
<div class="component__inner media__inner">

  {{> component this}}

  {{#any _transcript._externalTranscript _transcript._inlineTranscript}}
  <button class="btn-text media__skip-to-transcript js-skip-to-transcript">
    {{_globals._components._media.skipToTranscript}}
  </button>
  {{/any}}

  <div class="component__widget media__widget">

  {{#if _media.mp3}}
    {{#if _media.poster}}
    <img class="media_poster is-audio" src="{{_media.poster}}">
    {{/if}}
    <audio src="{{_media.mp3}}" type="audio/mp3" style="width: 100%; height: 100%;"/>
  {{else}}
    {{#if _media.ogg}}
      <audio src="{{_media.ogg}}" type="audio/ogg" style="width: 100%; height: 100%;"/>
    {{else}}
      <video aria-hidden="true" preload="none"
        {{#equals _aspectRatio "square"}} width="640" height="640"
        {{else equals _aspectRatio "portrait"}} width="540" height="960"
        {{else}} width="640" height="360"
        {{/equals}}
        {{#if _playsinline}} playsinline{{/if}} {{#equals _media.type "video/vimeo"}}{{else}}poster="{{_media.poster}}"{{/equals}} style="width:100%; height:100%;" controls="controls">
        {{#if _media.source}}
          <source src="{{_media.source}}" type="{{_media.type}}"/>
        {{else}}
          {{#if _media.mp4}}
            <source src="{{_media.mp4}}" type="video/mp4"/>
          {{/if}}
          {{#if _media.ogv}}
            <source src="{{_media.ogv}}" type="video/ogg"/>
          {{/if}}
          {{#if _media.webm}}
            <source src="{{_media.webm}}" type="video/webm"/>
          {{/if}}
        {{/if}}
        {{#if _useClosedCaptions}}
          {{#each _media.cc}}
            <track kind="subtitles" src="{{src}}" type="text/vtt" srclang="{{srclang}}" />
          {{/each}}
        {{/if}}
      </video>
    {{/if}}
  {{/if}}
  </div>

  {{#if _transcript}}
  <div class="media__transcript-container">

    {{#if _transcript._inlineTranscript}}
    <button class="media__transcript-btn media__transcript-btn-inline js-media-inline-transcript-toggle" aria-expanded="false">
      <span class="media__transcript-btn-text">
        {{#if _transcript.inlineTranscriptButton}}
        {{_transcript.inlineTranscriptButton}}
        {{else}}
        {{_transcript.transcriptLink}}
        {{/if}}
      </span>
      <span class="media__transcript-btn-icon">
        <span class="icon" aria-hidden="true"></span>
      </span>
    </button>
    {{/if}}

    {{#if _transcript._externalTranscript}}
    <button class="media__transcript-btn media__transcript-btn-external js-media-external-transcript-click" onclick="window.open('{{_transcript.transcriptLink}}')">
      <span class="media__transcript-btn-text">
        {{#if _transcript.transcriptLinkButton}}
        {{_transcript.transcriptLinkButton}}
        {{else}}
        {{_transcript.transcriptLink}}
        {{/if}}
      </span>
      <span class="media__transcript-btn-icon">
        <span class="icon" aria-hidden="true"></span>
      </span>
    </button>
    {{/if}}

    {{#if _transcript._inlineTranscript}}
    <div class="media__transcript-body-inline" role="region" aria-label="{{#if _transcript.inlineTranscriptButton}}{{_transcript.inlineTranscriptButton}}{{else}}{{_transcript.transcriptLink}}{{/if}}">
      <div class="media__transcript-body-inline-inner">
        {{{compile _transcript.inlineTranscriptBody}}}
      </div>
    </div>
    {{/if}}

  </div>
  {{/if}}

</div>
