<div class="component-inner">
    {{#if title}}
    <div class="component-title">
        <h4 class="component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body">
        <p class="component-body-inner">
            {{{body}}}
        </p>
    </div>
    {{/if}}
    <div class="widget">
        <video controls poster="{{poster}}">
            <source src="{{media.mp4}}" type="video/mp4" />
            <source src="{{media.ogv}}" type="video/ogg" />
        </video>
		
        <a href="#" class="show-transcript">show transcript</a>
    
    </div>
</div>